/* Base - Science of Sales
 * Author: Ilia Karasin © 2016
 * Global styles */

.clear-both {
    clear: both;
}

.site {
    position: relative;
}

.home-section {
    @include media($grid-end) {
        padding: 0 10px;
    }

    &.float-right,
    &.float-left {
        .inner-container.copy {
            @include span-columns(4);

            @include media($mobile) {
                @include span-columns(4);
                @include shift(0);
                margin-bottom: 20%;
            }
        }

        .inner-container.img {
            @include span-columns(8);

            @include media($mobile) {
                @include span-columns(4);
                @include shift(0);
            }
        }
    }
}

.outer-container {
    @include outer-container();
    height: 100%;
    position: relative;
    // padding: 0 20px;
}

hr {
    background-color: $color-lt-white;
    opacity: .25;

    @include media($grid-end) {
        &.hero {
            margin: {
                left: 10px;
                right: 10px;
            }
        }
    }
}

// Buttons
.button {
    @include border-radius(3px);
    @include font-size(10px);
    background: $color-blue;
    color: $color-white;
    text-transform: uppercase;
    display: inline-block;
    line-height: 10px;
    letter-spacing: 2px;
    padding: 12px 20px;
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }

    &:visited {

    }

    &.black {
        background-color: $color-black;
        color: $color-white;
    }

    &.home-hero-cta {
        color: $color-white;
    }
}

// Footer
footer {
    @include font-size(10px);
    background-color: $color-blue;
    color: $color-white;
    height: 60px;

    @include media($grid-end) {
        padding: 0 10px;
    }

    .site-info {
        @include media($mobile) {
            text-align: center;
            width: 100%;
        }

        @include center(y);
    }

    .menu-footer-container,
    .menu-item {
        display: inline-block;
    }

    a {
        text-decoration: none;
        color: $color-white;
    }
}

b {
    font-weight: 700;
}
