/* Base - Science of Sales
 * Author: Ilia Karasin © 2016
 * Global styles */

.clear-both {
    clear: both;
}

.site {
    position: relative;
}

.home-section {
    &.float-right,
    &.float-left {
        .inner-container.copy {
            @include span-columns(4);
            border: 1px solid yellow;

            @include media($mobile) {
                @include span-columns(4);
                @include shift(0);
                padding: 0 10px;
            }
        }

        .inner-container.img {
            border: 1px solid blue;
            @include span-columns(8);

            @include media($mobile) {
                @include span-columns(4);
                @include shift(0);
                padding: 0 10px;
            }
        }
    }
}

.outer-container {
    @include outer-container();
    height: 100%;
    position: relative;
    // padding: 0 20px;
}

hr {
    background-color: $color-lt-white;
    opacity: .25;
}

// Buttons
.button {
    @include border-radius(3px);
    @include font-size(10px);
    background: $color-blue;
    color: $color-white;
    text-transform: uppercase;
    display: inline-block;
    line-height: 10px;
    letter-spacing: 2px;
    padding: 12px 20px;
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }
}

// Footer
footer {
    background-color: $color-blue;
}
