/* Base - Science of Sales
 * Author: Ilia Karasin © 2016
 * Grid Settings */

// Do not delete, imported for responsive help
@import "../neat/neat-helpers";

// Change the grid settings
$column: 60px;
$gutter: 40px;
$grid-columns: 12;
$max-width: 1160px;

// @TODO: temp for dev
$visual-grid: true;
// $visual-grid-color: salmon;

// Define your breakpoints
$grid-end: new-breakpoint(max-width 1160px 12); // seamless padding
$smdesk: new-breakpoint(max-width 1024px 10);
$tablet: new-breakpoint(max-width 768px 8);
$mobile: new-breakpoint(max-width 480px 4);
