/* Base - Science of Sales
 * Author: Ilia Karasin © 2016
 * Grid Settings */

// Change the grid settings
$column: 60px;
$gutter: 40px;
$grid-columns: 12;
$max-width: 1160px;

// @TODO: temp for dev
$visual-grid: true;

// Define your breakpoints
$tablet: new-breakpoint(max-width 768px 8);
$mobile: new-breakpoint(max-width 480px 4);
