/* Base - Science of Sales
 * Author: Ilia Karasin © 2016
 * Header styles */

.site-header {
    @include media($grid-end) {
        padding: 0 10px;
    }

    background: $color-dk-gray;
    height: 75px;
    width: 100%;
    position: relative;
}

.site-branding,
.main-navigation {
    @include center(y);
}

// Logo
.site-branding {
    background: url(../images/logo.png) no-repeat;
    background-size: 100%;
    @include image-2x('../images/logo.png' , 113px, 26px);
    display: block;
    height: 26px;
    width: 113px;
}

// Nav
.main-navigation {
    width: auto;
    right: 0;

    .menu-navigation-container,
    .start-course {
        display: inline-block;
    }

    li {
        @include font-size(12px);
        line-height: 14px;
        margin: {
            right: 30px;
        }

        a {
            display: block;
            height: 100%;
            padding-top: 10px;
            color: $color-white;
        }
    }
}
