/* Base - Science of Sales
 * Author: Ilia Karasin © 2016
 * Main styles */

// Home
.home-hero,
.lesson-hero {
    background-color: $color-dk-blue;
    color: $color-white;
    text-align: center;
    padding: 100px 0;
}

.home-section,
.lesson-section {
    padding: 100px 0;
}

.home-hero {
    .hero-title,
    .hero-content {
        @include span-columns(8);
        @include shift(2);
        @include omega;
    }
}

.home-section {
    background-color: $color-dk-blue;
    border-top: 1px solid $color-white;

    .section-title {
        color: $color-white;
    }
}

// Lessons
.lesson-hero {
    text-align: left;

    .lesson-hero-content {
        @include span-columns(5);
        @include omega();
    }
}

.lesson-section {
    &:nth-child(odd) {
        background-color: $color-lt-white;
    }

    p {
        &.section-copy {
            color: $color-navy;
        }

        &.blue {
            color: $color-blue;
        }

        &.note {
            padding-bottom: 1em;
        }
    }
}
