/* Base - Science of Sales
 * Author: Ilia Karasin © 2016
 * Main styles */

// Home
.home-hero,
.lesson-hero {
    background-color: $color-dk-blue;
    color: $color-white;
    text-align: center;
    padding: 100px 0;

    @include media($mobile) {
        padding: 50px 0;
        text-align: center;
    }
}

.home-section,
.lesson-section {
    padding: 100px 0;

    @include media($mobile) {
        padding: 50px 10px;
        text-align: center;
    }
}

.home-hero {
    .hero-title,
    .hero-content {
        @include span-columns(8);
        @include shift(2);
        @include omega;
    }

    @include media($mobile) {
        .hero-title,
        .hero-content {
            @include span-columns(4);
            @include shift(0);
            padding: 0 10px;
        }
    }
}

.home-section {
    background-color: $color-dk-blue;
    border-top: 1px solid $color-white;

    .section-title {
        color: $color-white;
        font-family: "Gotham Book", Helvetica, sans-serif;
    }
}

// Lessons
.lesson-hero {
    @include media($mobile) {
        padding-bottom: 200px;
        background-position: center bottom;
    }

    text-align: left;
    background: {
        size: 40%;
        repeat: no-repeat;
        position: 90% bottom;
    }

    .lesson-hero-content {
        @include span-columns(5);
        @include omega();

        @include media($mobile) {
            @include span-columns(4);
            padding: 0 10px;
            text-align: center;
        }
    }
}

.lesson-section {
    @include media($mobile) {
        @include span-columns(4);
    }

    &:nth-child(odd) {
        background-color: $color-lt-white;
    }

    p {
        &.section-copy {
            color: $color-navy;
        }

        &.blue {
            color: $color-blue;
        }

        &.note {
            padding-bottom: 1em;
        }
    }
}

