/* Base - Science of Sales
 * Author: Ilia Karasin © 2016
 * Base Settings */

// Colors
$color-white: #fff;
$color-lt-white: #f2f3f2;
$color-dk-white: #f4f4f4;
$color-black: #000;
$color-dk-gray: #2f363d;
$color-blue: #5497eb;
$color-lt-blue: #0e77fa;
$color-dk-blue: #22282d;
$color-navy: #2f3848;
$color-purple: #9013fe;
$color-cyan: #00f7e7;