@charset "UTF-8";
/* Base - Science of Sales
 * Author: Ilia Karasin © 2016
 * Screen */
/* line 5, ../../../../../../../../.rvm/gems/ruby-2.1.8/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../.rvm/gems/ruby-2.1.8/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../.rvm/gems/ruby-2.1.8/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../.rvm/gems/ruby-2.1.8/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../.rvm/gems/ruby-2.1.8/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../.rvm/gems/ruby-2.1.8/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../.rvm/gems/ruby-2.1.8/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../.rvm/gems/ruby-2.1.8/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../.rvm/gems/ruby-2.1.8/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Base - Science of Sales
 * Author: Ilia Karasin © 2016
 * Grid Settings */
/* line 4, ../neat/grid/_box-sizing.scss */
html {
  box-sizing: border-box;
}

/* line 9, ../neat/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit;
}

/* line 12, ../neat/grid/_visual-grid.scss */
body:before {
  background-image: -webkit-linear-gradient(left, transparent 0, #eee 0, #eee 5.17241%, transparent 5.17241%, transparent 8.62069%, #eee 8.62069%, #eee 13.7931%, transparent 13.7931%, transparent 17.24138%, #eee 17.24138%, #eee 22.41379%, transparent 22.41379%, transparent 25.86207%, #eee 25.86207%, #eee 31.03448%, transparent 31.03448%, transparent 34.48276%, #eee 34.48276%, #eee 39.65517%, transparent 39.65517%, transparent 43.10345%, #eee 43.10345%, #eee 48.27586%, transparent 48.27586%, transparent 51.72414%, #eee 51.72414%, #eee 56.89655%, transparent 56.89655%, transparent 60.34483%, #eee 60.34483%, #eee 65.51724%, transparent 65.51724%, transparent 68.96552%, #eee 68.96552%, #eee 74.13793%, transparent 74.13793%, transparent 77.58621%, #eee 77.58621%, #eee 82.75862%, transparent 82.75862%, transparent 86.2069%, #eee 86.2069%, #eee 91.37931%, transparent 91.37931%, transparent 94.82759%, #eee 94.82759%, #eee 100%, transparent 100%);
  background-image: -moz-linear-gradient(left, transparent 0, #eee 0, #eee 5.17241%, transparent 5.17241%, transparent 8.62069%, #eee 8.62069%, #eee 13.7931%, transparent 13.7931%, transparent 17.24138%, #eee 17.24138%, #eee 22.41379%, transparent 22.41379%, transparent 25.86207%, #eee 25.86207%, #eee 31.03448%, transparent 31.03448%, transparent 34.48276%, #eee 34.48276%, #eee 39.65517%, transparent 39.65517%, transparent 43.10345%, #eee 43.10345%, #eee 48.27586%, transparent 48.27586%, transparent 51.72414%, #eee 51.72414%, #eee 56.89655%, transparent 56.89655%, transparent 60.34483%, #eee 60.34483%, #eee 65.51724%, transparent 65.51724%, transparent 68.96552%, #eee 68.96552%, #eee 74.13793%, transparent 74.13793%, transparent 77.58621%, #eee 77.58621%, #eee 82.75862%, transparent 82.75862%, transparent 86.2069%, #eee 86.2069%, #eee 91.37931%, transparent 91.37931%, transparent 94.82759%, #eee 94.82759%, #eee 100%, transparent 100%);
  background-image: -ms-linear-gradient(left, transparent 0, #eee 0, #eee 5.17241%, transparent 5.17241%, transparent 8.62069%, #eee 8.62069%, #eee 13.7931%, transparent 13.7931%, transparent 17.24138%, #eee 17.24138%, #eee 22.41379%, transparent 22.41379%, transparent 25.86207%, #eee 25.86207%, #eee 31.03448%, transparent 31.03448%, transparent 34.48276%, #eee 34.48276%, #eee 39.65517%, transparent 39.65517%, transparent 43.10345%, #eee 43.10345%, #eee 48.27586%, transparent 48.27586%, transparent 51.72414%, #eee 51.72414%, #eee 56.89655%, transparent 56.89655%, transparent 60.34483%, #eee 60.34483%, #eee 65.51724%, transparent 65.51724%, transparent 68.96552%, #eee 68.96552%, #eee 74.13793%, transparent 74.13793%, transparent 77.58621%, #eee 77.58621%, #eee 82.75862%, transparent 82.75862%, transparent 86.2069%, #eee 86.2069%, #eee 91.37931%, transparent 91.37931%, transparent 94.82759%, #eee 94.82759%, #eee 100%, transparent 100%);
  background-image: -o-linear-gradient(left, transparent 0, #eee 0, #eee 5.17241%, transparent 5.17241%, transparent 8.62069%, #eee 8.62069%, #eee 13.7931%, transparent 13.7931%, transparent 17.24138%, #eee 17.24138%, #eee 22.41379%, transparent 22.41379%, transparent 25.86207%, #eee 25.86207%, #eee 31.03448%, transparent 31.03448%, transparent 34.48276%, #eee 34.48276%, #eee 39.65517%, transparent 39.65517%, transparent 43.10345%, #eee 43.10345%, #eee 48.27586%, transparent 48.27586%, transparent 51.72414%, #eee 51.72414%, #eee 56.89655%, transparent 56.89655%, transparent 60.34483%, #eee 60.34483%, #eee 65.51724%, transparent 65.51724%, transparent 68.96552%, #eee 68.96552%, #eee 74.13793%, transparent 74.13793%, transparent 77.58621%, #eee 77.58621%, #eee 82.75862%, transparent 82.75862%, transparent 86.2069%, #eee 86.2069%, #eee 91.37931%, transparent 91.37931%, transparent 94.82759%, #eee 94.82759%, #eee 100%, transparent 100%);
  background-image: linear-gradient(to left, transparent 0, #eee 0, #eee 5.17241%, transparent 5.17241%, transparent 8.62069%, #eee 8.62069%, #eee 13.7931%, transparent 13.7931%, transparent 17.24138%, #eee 17.24138%, #eee 22.41379%, transparent 22.41379%, transparent 25.86207%, #eee 25.86207%, #eee 31.03448%, transparent 31.03448%, transparent 34.48276%, #eee 34.48276%, #eee 39.65517%, transparent 39.65517%, transparent 43.10345%, #eee 43.10345%, #eee 48.27586%, transparent 48.27586%, transparent 51.72414%, #eee 51.72414%, #eee 56.89655%, transparent 56.89655%, transparent 60.34483%, #eee 60.34483%, #eee 65.51724%, transparent 65.51724%, transparent 68.96552%, #eee 68.96552%, #eee 74.13793%, transparent 74.13793%, transparent 77.58621%, #eee 77.58621%, #eee 82.75862%, transparent 82.75862%, transparent 86.2069%, #eee 86.2069%, #eee 91.37931%, transparent 91.37931%, transparent 94.82759%, #eee 94.82759%, #eee 100%, transparent 100%);
  content: "";
  display: inline-block;
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 1160px;
  opacity: 0.4;
  pointer-events: none;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: -1;
}

/* Base - Science of Sales
 * Author: Ilia Karasin © 2016
 * Helper Mixins */
/* Base - Science of Sales
 * Author: Ilia Karasin © 2016
 * Base Settings */
/* Base - Science of Sales
 * Author: Ilia Karasin © 2016
 * Screen */
@font-face {
  font-family: 'Gotham Medium';
  src: url("../fonts/GothamHTF-Medium.eot");
  src: url("../fonts/GothamHTF-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamHTF-Medium.woff") format("woff"), url("../fonts/GothamHTF-Medium.ttf") format("truetype"), url("../fonts/GothamHTF-Medium.svg#GothamHTF-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Book';
  src: url("../fonts/GothamHTF-Book.eot");
  src: url("../fonts/GothamHTF-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamHTF-Book.woff") format("woff"), url("../fonts/GothamHTF-Book.ttf") format("truetype"), url("../fonts/GothamHTF-Book.svg#GothamHTF-Book") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Light';
  src: url("../fonts/GothamHTF-Light.eot");
  src: url("../fonts/GothamHTF-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamHTF-Light.woff") format("woff"), url("../fonts/GothamHTF-Light.ttf") format("truetype"), url("../fonts/GothamHTF-Light.svg#GothamHTF-Light") format("svg");
  font-style: normal;
}
/* line 37, ../sass/_fonts.scss */
h1,
h2,
h3 {
  font-family: 'Gotham Light', Helvetica, sans-serif;
}

/* line 43, ../sass/_fonts.scss */
h1 {
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 52px;
}

/* line 48, ../sass/_fonts.scss */
h2 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 32px;
  margin: 40px 0 45px;
}

/* line 54, ../sass/_fonts.scss */
h3 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 28px;
}

/* line 59, ../sass/_fonts.scss */
p {
  font-family: 'Gotham Light', Helvetica, sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  color: #f2f3f2;
  line-height: 14px;
}

/* line 66, ../sass/_fonts.scss */
.note {
  text-transform: uppercase;
  font-size: 11px;
  font-size: 0.6875rem;
  line-height: 11px;
  letter-spacing: 2px;
  padding-bottom: 20px;
}

/* line 74, ../sass/_fonts.scss */
a.button {
  font-family: 'Gotham Light', Helvetica, sans-serif;
}
/* line 77, ../sass/_fonts.scss */
a.button:visited {
  color: inherit;
}

/* line 82, ../sass/_fonts.scss */
.blue {
  color: #5497eb;
}

/* line 86, ../sass/_fonts.scss */
.white {
  color: #fff;
}

/* Base - Science of Sales
 * Author: Ilia Karasin © 2016
 * Header styles */
/* line 5, ../sass/_header.scss */
.site-header {
  background: #2f363d;
  height: 75px;
  width: 100%;
  position: relative;
}

/* line 12, ../sass/_header.scss */
.site-branding,
.main-navigation {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* line 18, ../sass/_header.scss */
.site-branding {
  background: url(../images/logo.png) no-repeat;
  background-size: 100%;
  display: block;
  height: 26px;
  width: 113px;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  /* line 18, ../sass/_header.scss */
  .site-branding {
    /* on retina, use image that's scaled by 2 */
    background-image: url("../images/logo.png");
    background-size: 113px 26px;
  }
}

/* line 28, ../sass/_header.scss */
.main-navigation {
  float: left;
  display: block;
  margin-right: 3.44828%;
  width: 31.03448%;
  margin-left: 68.96552%;
  background: salmon;
  float: right;
  right: 0;
}
/* line 89, ../neat/grid/_span-columns.scss */
.main-navigation:last-child {
  margin-right: 0;
}
/* line 35, ../sass/_header.scss */
.main-navigation a {
  display: inline-block;
}

/* Base - Science of Sales
 * Author: Ilia Karasin © 2016
 * Global styles */
/* line 5, ../sass/_global.scss */
.clear-both {
  clear: both;
}

/* line 9, ../sass/_global.scss */
.site {
  position: relative;
}

/* line 16, ../sass/_global.scss */
section.float-right .inner-container.copy, section.float-left .inner-container.copy {
  float: left;
  display: block;
  margin-right: 3.44828%;
  width: 31.03448%;
  border: 1px solid yellow;
}
/* line 89, ../neat/grid/_span-columns.scss */
section.float-right .inner-container.copy:last-child, section.float-left .inner-container.copy:last-child {
  margin-right: 0;
}
/* line 21, ../sass/_global.scss */
section.float-right .inner-container.img, section.float-left .inner-container.img {
  border: 1px solid blue;
  float: left;
  display: block;
  margin-right: 3.44828%;
  width: 65.51724%;
}
/* line 89, ../neat/grid/_span-columns.scss */
section.float-right .inner-container.img:last-child, section.float-left .inner-container.img:last-child {
  margin-right: 0;
}

/* line 28, ../sass/_global.scss */
.outer-container {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  position: relative;
}
/* line 20, ../bourbon/addons/_clearfix.scss */
.outer-container::after {
  clear: both;
  content: "";
  display: table;
}

/* line 36, ../sass/_global.scss */
.button {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  font-size: 10px;
  font-size: 0.625rem;
  background: #5497eb;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  line-height: 10px;
  letter-spacing: 2px;
  padding: 12px 20px;
  text-decoration: none;
}
/* line 48, ../sass/_global.scss */
.button:hover {
  cursor: pointer;
}

/* line 53, ../sass/_global.scss */
footer {
  background-color: #5497eb;
}

/* Base - Science of Sales
 * Author: Ilia Karasin © 2016
 * Main styles */
/* line 6, ../sass/_main.scss */
.home-hero,
.lesson-hero {
  background-color: #22282d;
  color: #fff;
  text-align: center;
  padding: 100px 0;
}

/* line 14, ../sass/_main.scss */
.home-section,
.lesson-section {
  padding: 100px 0;
}

/* line 20, ../sass/_main.scss */
.home-hero .hero-title,
.home-hero .hero-content {
  float: left;
  display: block;
  margin-right: 3.44828%;
  width: 65.51724%;
  margin-left: 17.24138%;
  margin-right: 0;
}
/* line 89, ../neat/grid/_span-columns.scss */
.home-hero .hero-title:last-child,
.home-hero .hero-content:last-child {
  margin-right: 0;
}

/* line 28, ../sass/_main.scss */
.home-section {
  background-color: #22282d;
  border-top: 1px solid #fff;
}

/* line 34, ../sass/_main.scss */
.lesson-hero {
  text-align: left;
}
/* line 37, ../sass/_main.scss */
.lesson-hero .lesson-hero-content {
  float: left;
  display: block;
  margin-right: 3.44828%;
  width: 39.65517%;
  margin-right: 0;
}
/* line 89, ../neat/grid/_span-columns.scss */
.lesson-hero .lesson-hero-content:last-child {
  margin-right: 0;
}

/* line 44, ../sass/_main.scss */
.lesson-section:nth-child(odd) {
  background-color: #f2f3f2;
}
/* line 48, ../sass/_main.scss */
.lesson-section p {
  color: #2f3848;
}
/* line 51, ../sass/_main.scss */
.lesson-section p.blue {
  color: #5497eb;
}
/* line 55, ../sass/_main.scss */
.lesson-section p.note {
  padding-bottom: 1em;
}
